<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  <TITLE>VueJS Class</TITLE>
  <script src="vue.js"></script>
</head>

<body>

  <div id="app">
    <p v-on:mousemove="getCoordinates"> {{ x }} :: {{ y }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        x:0,
        y:0
    },
      methods: {
        getCoordinates: function(event) {
            this.x = event.clientX;
            this.y = event.clientY;
        }
      }
    })
  </script>
</body>

</html>