<script src="vue.js"></script>

<div id="exercise">
    <!-- 1) Show an alert when the Button gets clicked -->
    <div>
        <button @click="alert()">Show Alert</button>
    </div>
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <div>
        <input @keydown="keyit"type="text">
        <p>{{ value }}</p>
    </div>
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <div>
        <input @keydown.enter="keyit2" type="text">
        <p >{{ value }}</p>
    </div>
</div>

<script>
    new Vue({
        el: "#exercise",
        data: {
            value:"beer"
        },
        methods: {
            alert: function () {
                alert("alerting")
            },
            keyit: function(event){
                this.value = event.target.value;
            },
            keyit2: function(event){
                this.value = event.target.value;
            }

        }
    })
</script>
