<script src="vue.js"></script>

<div id="exercise">
    <p v-on:mousemove="getCoordinates"> {{ x }} :: {{ y }}</p>
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{ YOUR_NAME }} ({{ AGE }})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ multAge3() }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ callRandom() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src = "beer" style="width:100px;height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input v-bind:value="callName()"type="text">
    </div>
</div>

<script>
    new Vue({
        el: "#exercise",
        data: {
            YOUR_NAME: "Will",
            AGE: 3,
            beer: "https://blog.skincancer.org/wp-content/uploads/2017/05/AsktheExpert_BaseTan.jpg",
            x: 0,
            y: 0
        },
        methods:{
            multAge3: function(){
                return this.AGE * 3;
            },
            callRandom: function(){
                return Math.random();
            },
            callName: function(){
                return this.YOUR_NAME
            },
            getCoordinates: function(event){
                this.x = event.clientX;
                this.y = event.clientY;
            }
        }
    })

</script>