<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  <TITLE>VueJS Class</TITLE>
  <script src="vue.js"></script>
</head>

<body>

  <div id="app">
    <input type="text" v-on:input="changeTitle">
    <p>{{title}}</p>
    <hr>
    <p>{{ finishedLink }}</p>
    <a v-bind:href="link">Google</a>
    <p v-html="finishedLink"></p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        title: "Hello World",
        link: "http://google.com",
        finishedLink: "<a href='http://google.com'>Goooooooogle</a>"
      },
      methods: {
        changeTitle: function (event) {
          this.title = event.target.value;
        }
      }
    })
  </script>
</body>

</html>